@charset"utf-8";
html,body,div,object,embed,pre,code,h1,h2,h3,h4,h5,h6,p,span,em,cite,del,a,img,ul,li,ol,dl,dt,dd,fieldset,legend,form,input,textarea,button,table,caption,thead,tbody,tfoot,th,tr,td,hr {margin:0;padding:0}
.h1,h2,h3,h4,h5,h6 {font-size:100%}
fieldset,img {border:0}
ol,ul {list-style:none}
em {font-style:normal}
body {font:12px/1.5 "微软雅黑",Tahoma,"宋体",sans-serif;background-color:#f1f1f1;color:#666666}
a {color:#666666;text-decoration:none}
a:hover {color:#cc3333;text-decoration:none}
a:hover img {filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}
.clear {clear:both}
.clearfix:after,.nsta_list:after,.cont:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix {zoom:1}

input[type=text], input[type=password], input[type=email] {cursor:text;}
textarea {overflow:auto;}
textarea, input {padding:5px;outline:none;}
select {padding:2px;}
option {padding:0 4px;}

.mt5 {margin-top:5px;}

.red {color:red}

.icon {background:url(icons.png) no-repeat 0 0}
.meinv {background-position:0 -298px}
.catag {background-position:5px -320px}
.tuijian {background-position:-490px -61px}
.time {background-position:0 -390px}
.cate {background-position:0 -425px}
.list {background-position:0 -458px}
.screen {background-position:0 -492px}
.cont {background-position:0 -559px}
.down {background-position:0 -526px}
.view {background-position:0 -157px}
.like {background-position:0 -189px}

.veiwall a,.veiwall a span,.channel-tags li a,.tags a,.pages ul li a {
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear
}

.listline {
	height:1px;
	background:#f1f1f1;
	width:100%;
	overflow:hidden
}
/* mod-baidu */
.mod-baidu{
	margin-top:15px;
	width:980px;
	height:90px;
	overflow:hidden;
	background-color:#e75242;
}
.mod-baidu span{
	float:left;
	width:20px;
	text-align:center;
	padding-top:5px;
	color:white;
}
/*------- header -------*/
.header {
	width:100%;
	height:121px;
	background-color:#fff
}
.top {
	margin:0 auto;
	width:980px;
	height:75px;
	position:relative
}
.logo {
	position:absolute;
	left:10px;
	top:13px;
	width:338px;
	height:46px;
	background:url(logo.png) no-repeat 5px 6px
}
.logo a {
	display:block;
	width:120px;
	height:46px
}
.search-block {
	position:absolute;
	right:65px;
	top:24px;
	width:163px;
	height:25px;
	overflow:hidden;
	background:#fcfcfc;
	border:1px solid #ddd;
	border-top-color:#d1d1d1;
	border-left-color:#d1d1d1;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	overflow:hidden;
	-moz-box-shadow:inset 0 2px 5px #eee;
	-webkit-box-shadow:inset 0 2px 5px #eee;
	box-shadow:inset 0 2px 5px #eee;
}
.search-block .search-button {
	background:transparent url(search-button.png) no-repeat left center;
	cursor:pointer;
	float:right;
	height:25px;
	width:20px;
	display:block;
	border:0 none;
	opacity:0.7;
	-o-transition:opacity .4s;
	-webkit-transition:opacity .4s;
	-moz-transition:opacity .4s;
	transition:opacity .4s;
}
.search-block #keyword {
	background:transparent;
	float:right;
	font:normal 11px tahoma;
	padding:6px 12px 8px 12px;
	width:117px;
	color:#C5C5C5;
	border:0 none;
	-o-transition:width .7s , color .4s;
	-webkit-transition:width .7s , color .4s;
	-moz-transition:width .7s , color .4s;
	transition:width .7s , color .4s;
}

/* social-icons */
.social-icons {position:absolute;top:25px;right:0;}
.rss, .share{display:block;float:left;width:24px;height:24px;margin-left:5px;}
.rss {background-position:0 0;}
.rss:hover {background-position:0 -26px;}
.share {background-position:-24px 0;}
.share:hover {background-position:-24px -26px;}

/* main-nav */
.main-nav {
	margin:0 auto;
	position:relative;
	width:100%;
	height:46px;
	z-index:99
}
.main-nav.fixed {
	position:fixed;
	_position:absolute;
	top:0;
}
.main-nav .main-menu{
	margin:0 auto;
	position:relative;
	width:980px;
	height:42px;
	z-index:999
}
.main-nav .menu {float:left}
.main-nav .menu li {
	font-size:14px;
	position:relative;
	height:41px;
	float:left
}
.main-nav .menu li a {
	display:inline-block;
	height:41px;
	line-height:41px;
	color:#979797;
	padding:0 15px;
	border-top:1px solid #ecebec
}
.main-nav .menu li a:hover {
	color:#000;
}
.main-nav .menu li.current a {border-top-color:#e75242}
.main-nav .menu li.open a {padding-right:25px}
.main-nav .menu li .open-up {
	width:7px;
	height:7px;
	position:absolute;
	top:19px;
	left:50px;
	background-position:0 -64px
}
.main-nav .sub-menu {
	display:none;
	position:absolute;
	width:68px;
	overflow:hidden;
	left:0;
	top:42px;
	border:1px solid #ecebec;
	border-top:0;
	z-index:999
}
.main-nav .sub-menu li {
	background:#fff
}
.main-nav .menu li .hot {
	width:12px;
	height:12px;
	position:absolute;
	top:3px;
	left:44px;
	background-position:-24px -64px
}
.main-nav .menu-right {float:right;color:#d2d2d2}
.main-nav .menu-right a {
	display:inline-block;
	height:42px;
	line-height:42px;
	padding-left:24px;
	color:#d2d2d2;
	position:relative
}
.main-nav .menu-right a:hover {color:#e75242}
.main-nav .menu-right span {padding:0 15px}
.main-nav .menu-right i {
	position:absolute;
	left:0;
	top:12px;
	width:20px;
	height:20px
}
.main-nav .menu-right .i-mail {background-position:0 -94px}
.main-nav .menu-right .i-fav {background-position:0 -124px}
.main-nav .menu-right .i-opinion {background-position:0 -352px}
.main-nav .menu-right a:hover .i-mail {background-position:-26px -94px}
.main-nav .menu-right a:hover .i-fav {background-position:-26px -124px}
.main-nav .menu-right a:hover .i-opinion {background-position:-26px -352px}
.main-nav .main-menu-bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:46px;
	background:url(menu-bg.png) repeat-x 0 0
}
.main-nav .main-menu-bg.js {
	height:42px;
	border-bottom:1px solid #ecebec
}

/* content */
.content {width:980px;margin:0 auto}

/* mod-slider */
.mod-slider {
	width:980px;
	height:255px;
	position:relative;
	margin-top:15px;
}
.mod-slider .slide-btn {
	position:absolute;
	top:50%;
	margin-top:-32px;
	width:41px;
	height:65px;
	z-index:1;
	background:url(slider-prev-next.png) no-repeat 0 0
}
.mod-slider .slide-left-btn {
	left:-60px;
	background-position:-10px -8px
}
.mod-slider .slide-left-btn:hover,.mod-slider.hover .slide-left-btn {
	background-position:-10px -190px
}
.mod-slider .slide-right-btn {
	right:-60px;
	background-position:-10px -99px
}
.mod-slider .slide-right-btn:hover,.mod-slider.hover .slide-right-btn {
	background-position:-10px -281px
}
.mod-slider-show {
	height:100%;
	width:100%;
	position:relative;
	overflow:hidden;
}
.mod-slider-show .cnt {
	width:8000px;
	position:absolute;
	height:100%
}
.mod-slider-show .slide-show-ctn {
	height:255px;
	position:relative;
	float:left
}
.pic .cover {
	display:block;
	height:100%;
	overflow:hidden
}
.pic .mod-rep-img {
	float:left;
	position:relative;
	overflow:hidden;
}
.pic .img1 {
	width:254px;
	height:255px;
	margin-right:5px
}
.pic .img1 img {
	width:254px;
	height:255px;
}
.pic .img2 {
	width:203px;
	height:125px;
	margin-bottom:5px
}
.pic .img2 img {
	width:203px;
	height:125px;
}
.pic .mod-rep-img-cat {
	position:absolute;
	overflow:hidden;
}
.pic .desc {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-decoration:none;
	color:#fff;
	padding:10px 0;
	background:url(desc-bg.png) repeat-x;
	_background:0
}
.pic .desc .cover-num {
	float:right;
	padding-right:10px;
}
.pic .desc .title {
	float:left;
	padding-left:10px;
}

/* mod-catag */
.mod-common {
	width:980px;
	margin-top:15px;
	position:relative
}
/* mod-channel */
.mod-channel {
	width:980px;
	overflow:hidden
}
.channel-title {
	width:980px;
	position:relative;
	height:55px;
	border-bottom:5px solid #000
}
.channel-title h2 {
	position:absolute;
	left:0;
	top:0;
	padding:0 15px;
	height:55px;
	line-height:55px;
	font-size:26px;
	border-bottom:5px solid #e75242
}

.channel-title h2 i {
	float:left;
	display:block;
	width:30px;
	height:20px;
	margin-top:20px
}
.in-grid,.in-more{
	position:absolute;
	right:0;
	bottom:0;
	_bottom:-1px;
}
.in-grid li{
	float:left;
	padding:5px 15px;
	margin-right:1px;
	font-weight:bold;
	cursor:pointer;
	background:#e3e3e3
}
.in-grid li.cur{
	color:#fff;
	background:#000
}
.in-more a{
	line-height:35px;
	margin-right:10px
}
/* channel-ctn */
.channel-ctn {margin-top:15px}
.channel-ctn .left {float:left;width:257px}
.channel-ctn .middle {float:right;width:718px;position:relative}
/* channel-tags */
.channel-tags {padding:1px 0 0 1px;background-color:#e75242}
.channel-tags li {float:left;margin:0 1px 1px 0}
.tag-1,.tag-3,.tag-6,.tag-8,.tag-9,.tag-11,.tag-14,.tag-16,.tag-17,.tag-19 {background-color:#ec7568}
.tag-2,.tag-4,.tag-5,.tag-7,.tag-10,.tag-12,.tag-13,.tag-15,.tag-18,.tag-20 {background-color:#e96455}
.channel-tags li a {
	display:block;
	width:63px;
	height:60px;
	line-height:60px;
	text-align:center
}
.channel-tags li .txt {
	display:inline-block;
	font-size:12px;
	vertical-align:middle;
	color:#fff;
}
.channel-tags li a:hover {
	background-color:#f0978d
}

/* post-list */
.post-list .list-box {
	float:left;
	width:228px;
	height:443px;
	position:relative;
	margin-bottom:20px;
	margin-right:20px;
	overflow:hidden;
	border:1px solid #fff;
	background:#fff
}
.post-list .load {
	height:408px;
}
.list-box .preview {padding:10px;position:relative}
.list-box .preview img {
	width:208px;
	height:291px;
	display: block;
	overflow: hidden;
	background: url(/Public/Template/default/grey.gif) no-repeat scroll center center transparent;
}
.list-box .preview .num {display:none}
.list-box .preview.hover .num {
	display:inline-block;
	position:absolute;
	top:10px;
	left:10px;
	_left:0;
	padding:5px 10px;
	text-align:center;
	color:#fff;
	background-color:#e75242;
}
.list-box .preview .detail {
	height:43px;
	overflow:hidden;
}
.list-box .preview .detail h3 a {
	display:block;
	font-size:14px;
	font-weight:500;
	overflow:hidden;
	height:26px
}
.list-box .preview .detail .postdate {color:#e3e3e3}
.list-box .pdw10 {padding:0 10px}
.list-box .tags,.list-box .fields {
	padding:10px 0;
	overflow:hidden;
}
.list-box .tags a {
	padding:3px 8px;
	margin-right:5px;
	color:#d4d4d4;
	background-color:#f6f6f6
}
.list-box .tags a:hover {
	color:#fff;
	background-color:#e75242
}
.list-box .fields span{
	display:inline-block;
	padding-left:23px;
	margin-right:15px;
	position:relative;
	color:#d4d4d4
}
.list-box .fields i {position:absolute;left:0;top:0;width:17px;height:17px}
.veiwall a {
	display:block;
	height:46px;
	line-height:46px;
	text-align:center;
	font-size:14px;
	background:#fff
}
.veiwall a:hover {color:#fff;background:#e75242}
.veiwall a:hover span {background-position:-80px -7px}
.veiwall span {
	font-size:14px;
	background-position:-104px -7px;
	margin-left:10px
}
#loading {
	padding:30px 0;
	text-align:center
}
#loading span {
	font-size:14px;
	margin-left:10px;
	background:url(/Public/Template/default/loading.gif) no-repeat 0 0;
}

/* hz-list */
.hz-list a{
	float:left;
	display:inline-block;
	width:168px;
	height:199px;
	padding:10px;
	margin-right:10px;
	background:#fff
}
.hz-list a img{
	width:168px;
	height:170px;
}
.hz-list a .writing{
	display:block;
	text-align:center;
	font-size:12px;
	font-style:normal;
	padding-top:5px
}
/* pages */
.pages ul li {
	float:left;
	width:36px;
	line-height:36px;
	margin-right:5px;
	text-align:center
}
.pages ul li a,.pages ul li em {
	display:block;
	background-color:#fff;
	width:36px;
	height:36px;
	color:#a9a9a9
}
.pages ul li a:hover, .pages ul li em:hover {
	color:#fff;
	background-color:#d4d4d4
}
.pages ul .pagecur a,.pages ul .pagecur a:hover {
	color:#fff;
	background-color:#e75242
}
.pages ul .prev a {
	background:url(icons.png) no-repeat #fff -68px -34px
}
.pages ul .prev a:hover {
	background-color:#d4d4d4;
	background-position:-92px -34px
}
.pages ul .next a {
	background:url(icons.png) no-repeat #fff -92px -64px
}
.pages ul .next a:hover {
	background-color:#d4d4d4;
	background-position:-68px -64px
}
/* mod-single */
.mod-single {
	width:978px;
	overflow:hidden;
	position:relative;
	border:1px solid #e5e6e6;
	background:#fff;
}
.post-header {
	padding:0 0 15px 15px
}
.post-title {
	display:block;
	font-size:18px;
	font-weight:400;
	color:#e75242
}
.post-info {margin-top:10px;}
.post-info .post-span {display:inline-block;position:relative;margin-right:20px;padding-left:20px;color:#d4d4d4}
.post-info .post-span i {position:absolute;left:0;top:0;width:17px;height:17px}
.post-info .post-span a {color:#d4d4d4}
.post-info .post-span a:hover {color:#e75242}

.post-data {
	position:absolute;
	top:0;
	right:0;
}
.post-data a{
	float:left;
	width:65px;
	height:32px;
	border:1px solid #e5e6e6;
	margin-left:5px;
	padding:15px 0;
	cursor:pointer;
	text-align:center;
	position:relative;
	background:#fff;
}
.post-data a:hover {background:#fafafa}
.post-data a span {padding-left:20px;padding-right:8px}
.post-data a small {display:block}
.post-data a i {position:absolute;left:6px;top:14px;width:17px;height:17px}
.post-data .already .like {background-position:-26px -189px}
.post-data .already {color:#e75242}
#d_BigPic {
	min-height:300px;
	_height:300px;
	text-align:center;
	margin:20px 0 20px;
	clear:both
}
#d_BigPic img {
	max-width:80%;
	height:auto;
}
#efpTxt #d_picTime {display:none}
#efpTxt #d_picIntro {
	width:750px;
	margin:0 auto;
	text-indent:2em;
	line-height:23px
}
.post-tag {padding:15px;line-height:26px}
.post-tag span {display:block}
.mod-tags {float:left}
.mod-tags dt,.mod-tags dd {float:left;color:#d4d4d4;margin-right:8px}
.mod-tags dd a {color:#d4d4d4}
.mod-tags dd a:hover {color:#e75242}
.mod-bdshare {float:right}
.post-piclist {
	height:117px;
	overflow:hidden;
	background:url(e_m_05.gif) repeat-x 0 0
}
#efpBigPic {zoom:1;position:relative;width:980px}
#ePicList {padding:20px 0 0}
#ePicList .picBox {
	padding:0 0 20px;
	text-align:center;
	overflow:hidden;
	display:block;
}
#ePicList .picBox img{
	max-width:80%;
	height:auto;
	height:expression(this.width >800 ? (800*(this.height/this.width)): true);
	width:expression(this.width >800 ? 800: true);
}
#efpLeftArea{width:50%;height:100%;position:absolute;left:0;top:0;z-index:9;background:#fff;opacity:0;filter:Alpha(Opacity=0);}
#efpRightArea{width:50%;height:100%;position:absolute;right:0;top:0;z-index:9;background:#fff;opacity:0;filter:Alpha(Opacity=0);}
.arrLeft{cursor:url(arr_left.cur),auto;}
.arrRight{cursor:url(arr_right.cur),auto;}
#efpPrePic,#efpNextPic,#efpListLeftArr,#efpListRightArr{background:url(e_m_01.png) no-repeat 0 0}
#efpPreGroup,#efpNextGroup {float:left;width:129px}
#efpPrePic img,#efpNextPic img {width:50px}
#efpPreGroup {padding:11px 0 0 31px}
#efpNextGroup {padding: 11px 0 0 20px}
#efpPrePic {
	padding:9px 0 0 11px;
	width:99px;
	height:72px;
	background-position:0 -350px
}
#efpPrePic td,#efpNextPic td {
	width:94px;
	height:68px;
	text-align:center
}
#efpNextPic {
	padding:9px 0 0 5px;
	width:105px;
	height:72px;
	background-position:-125px -350px
}
#efpPreTxt,#efpNextTxt {
	width:91px;
	text-align:center;
	color:#d4d4d4;
	padding:0 0 0 11px
}
#efpListLeftArr,#efpListRightArr {
	float:left;
	width:42px;
	height:117px
}
#efpListLeftArr{background-position:-100px -200px}
#efpListLeftArr.selected{background-position:-200px -200px}
#efpListRightArr {background-position:-150px -200px}
#efpListRightArr.selected{background-position:-250px -200px;}
#efpPicListCont {
	float:left;
	width:575px;
	height:117px;
	background:url(e_m_05.gif) repeat-x 0 -150px;
	overflow:hidden
}
#efpPicListCont .pic,#efpPicListCont .picOn {
	width:115px;
	float:left;
	text-align:center;
	padding:13px 0 0;
}
#efpPicListCont table {margin:0 auto}
#efpPicListCont .picCont {width:100px;height:100px}
.picOn img {padding:3px;background-color:#e75242}
#efpPicListCont img { width:40px}
/* slide-end-tip */
.slide-end-tip{
	position:absolute;
	background:#000;
	width:300px;
	height:80px;
	left:50%;
	margin-left:-150px;
	top:20%;
	z-index:3;
	color:white;
	text-align:center;
	line-height:80px;
	font-size:16px;
	font-family:"\5FAE\8F6F\96C5\9ED1", sans-serif;
	border-radius:10px;
	display:none;
	-webkit-transition:-webkit-transform 0ms;
	-webkit-transform-origin:0px 0px;
	-webkit-transform:translate3d(0px, 0px, 0px) scale(1);
}
.slide-end-bg{height:100%;width:100%;background:#27282A;/*filter:Alpha(Opacity=70);opacity:0.7;*/position: absolute;top:0;right:0;z-index: 10;zoom:1;_height:expression(document.getElementById('endSelect').offsetHeight+"px");}
/* footer */
.footer {overflow:hidden}
.mt50 {margin-top:50px}
.foot-info {
	width:100%;
	border-bottom:15px;
	background:#222
}
.foot-copy {
	width:100%;
	padding:15px 0;
	text-align:center;
	background:#101010
}
.info-ctn {
	width:1030px;
	margin:0 auto;
	padding:20px 0;
}
.info-list {
	float:left;
	padding:0 35px;
	line-height:28px;
	background:url(bootline.png) no-repeat right 10px;
}
.info-list h1 {
	font-size:14px;
	color:#fff;
	font-weight:500;
	margin-bottom:10px
}
.info-list i {
	display:block;
	float:left;
	width:18px;
	height:18px;
	margin:5px 5px 5px 0;
}
.info-list .weibo {background-position:0 -221px}
.info-list .email {background-position:0 -243px}
.info-list .favor {background-position:0 -265px}
.info-list .rss {background-position:0 -590px}
.bgnone {background:none}
.foot_logo {
	text-indent:-999em;
	width:105px;
	height:49px;
	float:left;
	margin:40px 43px 0;
	background:url(f-logo.png) no-repeat 0 0;
}
.links {
	width:255px;
}
.hezuo {
	width:170px;
}
.links dd, .hezuo dd {
	float:left;
	width:85px;
}

/* adstyle */
.channel-right {
	position:absolute;
	right:0;
	top:25px
}
.mod-ad980 {
	margin:25px auto 0;
	width:980px;
	overflow:hidden
}
.mod-ad960 {
	margin:25px auto 0;
	width:960px;
	overflow:hidden
}
.mod-ad640 {
	margin:25px auto 0;
	width:640px;
	overflow:hidden
}

/* plot */
.plot {
	position:fixed;
	_position:absolute;
	left:0;
	top:135px;
	z-index:99;
}
.plot ul li a {
	display:block;
	width:50px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	margin-bottom:1px;
	background-color:#E96455;
}
.link {margin-top:12px;clear:both;line-height:30px;background:#f8f8f8;padding:14px;}
.link .title {height:38px;line-height:38px;border-bottom:1px dotted #B2B2B2}
.link .title span {float:left;color:#2D8BD5;font-size:14px;}
.link .title p {float:right;color:#878787}
.link a, .link a:visited {color:#696969}
.link div {padding-top:10px;}