body { margin:0; padding:10px; background-color:#ffffff; color:#000000; font:12px normal Arial,Helvetica,sans-serif;}
div,ul,ol,li,dl,dd,dt,p,h1,h2,h3,h4,h5,form,input,button,select,a,textarea { margin:0; padding:0;}
li { list-style-type:none;}
input,a,button,select { outline:none;}
img { border-width:0; vertical-align:top;}
a:link, a:visited { color:#002280; text-decoration:none;}
a:hover, a:active { color:#002280; text-decoration:underline;}
select { font-size:12px;}

a.editlink { display:inline-block; margin:0 5px;}

.line-block { line-height:20px; margin-bottom:5px; width:100%;}

.tbox { border:1px solid #4FB4DE; margin-bottom:10px;}
.tbox .tlink { background-color:#4FB4DE; border:1px solid #C9F1FF; color:#ffffff; height:26px; line-height:26px; padding:0 5px;}

.table { width:100%; border-collapse:collapse; border:none;}
.table thead tr {}
.table thead th, tr.head td { background-color:#C9F1FF; color:#000000; text-align:center; height:26px; border:1px solid #C9F1FF; font-weight:400;}
.table tbody tr { background:#ffffff;}
.table tbody tr.bg { background:#f5f5f5;}
.table tbody tr:hover {background:#f1f1f1;}
.table tbody tr .rlink { color:#002280;}
.table tbody tr .rlink:hover { text-decoration:underline;}
.table tbody td { height:26px; border:1px solid #C9F1FF; text-align:center;}
.table tbody td.name { text-align:left; padding:0 5px;}
.table tfoot tr { background:#ffffff;}
.table tfoot td { height:26px; border:1px solid #C9F1FF; text-align:center;}

.ftable { width:100%; border-collapse:collapse; border:none;}
.ftable tbody tr { background:#f9ffff;}
.ftable tbody td { border:1px solid #C9F1FF; padding:5px;}
.ftable td span.info { color:#666666; display:inline-block; padding-left:6px;}
.ftable td span.attr { display:inline-block; margin-right:6px; vertical-align:middle;}
.ftable td span.lm10 { margin-left:10px;}

.noborder tbody tr { background:none;}
.noborder tbody td { background:none; border:none;}

.fbox { border:10px solid #C9F1FF; width:auto; }
.ftabs { height:28px; width:100%; overflow:hidden;}
.ftabs .tabs-title { float:left; margin-right:1px; overflow:hidden; text-align:center; height:25px; line-height:25px; background-color:#C9F1FF; border-bottom:1px solid #ffffff; border-top:2px solid #ffffff; color:#555555; -webkit-user-select: none; -moz-user-select:none; -ms-user-select: none; -o-user-select:none; user-select:none; cursor: pointer; padding:0 15px;}
.ftabs .hover { border-bottom-color:#C9F1FF; font-weight:bold; border-top-width:0; height:27px; line-height:27px; color:#000000;}
.fbtns .btn{ margin-right:10px; }

.changeimg { background:url("../imgs/changeimg.gif") no-repeat center center; vertical-align:middle; cursor: pointer; width:24px; height:24px; display:inline-block; margin-left:5px;}

/* .btn */
.btn { display:inline-block; padding:3px 12px; margin-bottom:0; font-size:12px; text-align:center; white-space:nowrap; vertical-align:middle; cursor: pointer; background-image:none; border:1px solid transparent; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; color:#ffffff; background-color:#5bc0de; border-color:#46b8da; border-radius:1px;}
a.btn { color:#ffffff;}
.btn:focus { outline:thin dotted #333; outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover, .btn:focus {color:#ffffff; text-decoration:none; background-color:#39b3d7; border-color:#269abc;}
.btn:active, .btn.active {background-image:none; color:#ffffff; outline:0;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}


.btn.btn-success {background-color:#5cb85c;border-color:#4cae4c}
.btn.btn-success:hover, .btn.btn-success:focus { background-color:#47a447;border-color:#398439}

.btn.btn-warning { background-color:#f0ad4e;border-color:#eea236;}
.btn.btn-warning:hover, .btn.btn-warning:focus { background-color:#ed9c28;border-color:#d58512;}

.btn.min { padding:1px 10px;}
.btn.big { padding:6px 15px; font-size:14px;}
.btn.big span { font-size:16px;}


/* input */
.input-text { display:inline-block; height:18px; padding:1px 5px; font-size:12px; line-height:18px; color:#000000; vertical-align:middle; background-color:#ffffff; background-image:none; border:1px solid #ccc; border-radius:1px; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.input-text:focus { border-color: #66afe9; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);}
.input-text:-moz-placeholder {color:#999999;}
.input-text::-moz-placeholder {color:#999999;}
.input-text:-ms-input-placeholder {color:#999999;}
.input-text::-webkit-input-placeholder {color:#999999;}

.input-text.min { height:16px; line-height:16px;}

.input-label { display:inline-block; margin:3px 15px 3px 0; height:18px; line-height:18px; vertical-align:middle;}
.input-label span { padding-left:5px; vertical-align:bottom; cursor: pointer; color:#555;}

.input-select { display:inline-block; border:1px solid #cccccc; height:22px; line-height:22px; overflow:hidden; padding:1px; vertical-align:middle;}
.input-select:focus { border-color: #66afe9; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);}

.input-textarea { display:inline-block; padding:5px; line-height:18px; font-size:12px; color:#000000; vertical-align:middle; background-color:#ffffff; background-image:none; border:1px solid #ccc; border-radius:1px; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.input-textarea:focus { border-color: #66afe9; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);}


.pages { height:22px; padding:5px 0;}
.pages a,.pages span, .pages b, .pages em { display:block; float:left; height:20px; line-height:20px; width:auto; padding:0 6px; border:1px solid #ddd; font-size:12px; margin-right:5px; background-color:#fff; font-style:normal; color:#333; font-weight:400;}
.pages span, .pages em { color:#999;}
.pages b { color:#333; font-weight:700; }
.pages a.on, .pages a.this { background-image:none; border-color:#66afe9; background-color:#66afe9; color:#fff;}
.pages a:link, .pages a:visited { }
.pages a:hover, .pages a:active { background-color:#5bc0de; background-image:none; border-color:#5bc0de; color:#fff; text-decoration:none;}

	
.clearfix:after{
 display:block;
 visibility:hidden;
 font-size:0;
 height:0;
 content:" ";
 clear:both;
}
.clearfix{
 zoom:1;
}