<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站管理系统</title>
<link href="./Public/Admin/plug/awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="./Public/Admin/plug/fdialog/skin/default/fdialog.css" rel="stylesheet" />
<link href="./Public/Admin/plug/icheck/skin/minimal/blue.css" rel="stylesheet" />
<link href="./Public/Admin/plug/bootstrap/tooltip.min.css" rel="stylesheet" />
<link href="./Public/Admin/css/style.css" rel="stylesheet" />
<script src="./Public/Admin/jquery/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="./Public/Admin/jquery/jquery-ui.min.js" type="text/javascript" language="javascript"></script>
<script src="./Public/Admin/plug/fdialog/fdialog.js" type="text/javascript" language="javascript"></script>
<script src="./Public/Admin/plug/icheck/icheck.min.js" type="text/javascript" language="javascript"></script>
<script src="./Public/Admin/plug/bootstrap/tooltip.min.js" type="text/javascript" language="javascript"></script>
<script src="./Public/Admin/js/f.js" type="text/javascript" language="javascript"></script>